In [ ]:
# ref: https://www.sqlshack.com/exploring-databases-in-python-using-pandas/

In [2]:
# pip install mysql-connector-python
import mysql.connector
import csv
from time import perf_counter

from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [3]:
# drop table
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)
mycursor = mydb.cursor()
cmd = '''DROP TABLE IF EXISTS titles;'''
mycursor.execute(cmd)
mydb.commit()

In [4]:
# create table
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)
mycursor = mydb.cursor()
cmd = '''CREATE TABLE IF NOT EXISTS titles
(db_id INT AUTO_INCREMENT PRIMARY KEY,
UserId VARCHAR(100) NOT NULL,
ProductId VARCHAR(100),
Rating DEC,
Timestamp INT
);''' # https://dev.mysql.com/doc/refman/8.0/en/numeric-types.html
mycursor.execute(cmd)
mydb.commit()

In [15]:
jobs = []

t0 = perf_counter()

with open('ratings_Beauty.csv', encoding="utf8") as titles:
    reader = csv.reader(titles, delimiter=',')
    for row in reader:
        jobs.append([row[0], row[1], row[2], row[3]])
        
t1 = perf_counter()

jobs = jobs[1:]  # remove csv headers

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)

t2 = perf_counter()

mycursor = mydb.cursor()
insert_into = "INSERT INTO titles (UserId,ProductId,Rating,Timestamp) VALUES (%s, %s, %s, %s)"

vals = []
periodically_commit_interval = 50000  # prevent connection timeout
length = len(jobs)

print('job length =', length)
for i in range(length):
    if (i % periodically_commit_interval) == 0:
        print(int(i/length*100), '%')
        mycursor.executemany(insert_into, vals)
        mydb.commit()
        vals = []
    vals.append((jobs[i][0], jobs[i][1], jobs[i][2], jobs[i][3]))


mycursor.executemany(insert_into, vals)
mydb.commit()

t3 = perf_counter()

c2p = t1-t0
p2m = t3-t2

c2p_rate = length/c2p
p2m_rate = length/p2m

print('csv -> python list =', c2p, 'seconds;', c2p_rate, 'rows/second')
print('python list -> MySQL =', p2m, 'seconds;', p2m_rate, 'rows/second')

In [24]:
t4 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM titles', con=db_connection)

t5 = perf_counter()

m2p = t5-t4
m2p_rate = length/m2p
print('MySQL -> python pandas dataframe =', m2p, 'seconds;', m2p_rate, 'rows/second')

MySQL -> python pandas dataframe = 23.51549369999975 seconds; 86031.3640789103 rows/second

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   db_id      int64
 1   UserId     object
 2   ProductId  object
 3   Rating     float64
 4   Timestamp  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 77.2+ MB

In [8]:
t4 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df_partial1 = pd.read_sql('SELECT * FROM titles WHERE UserId = \'A39HTATAQ9V7YF\'', con=db_connection)  # WHERE condition

t5 = perf_counter()

m2p = t5-t4
m2p_rate = length/m2p
print(m2p, 'seconds')
df_partial1

0.7869601999999958 seconds

     db_id          UserId   ProductId  Rating   Timestamp
0        1  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1   899126  A39HTATAQ9V7YF  B002OVV7F0     3.0  1369699200
2   969483  A39HTATAQ9V7YF  B0031IH5FQ     5.0  1369699200
3  1499681  A39HTATAQ9V7YF  B006GQPZ8E     4.0  1369699200

In [9]:
t4 = perf_counter()

df_partial2 = df.loc[df['UserId'] == 'A39HTATAQ9V7YF']

t5 = perf_counter()

p = t5-t4
p_rate = length/p
print(m2p, 'seconds')
df_partial2

0.7869601999999958 seconds

           db_id          UserId   ProductId  Rating   Timestamp
0              1  A39HTATAQ9V7YF  0205616461     5.0  1369699200
899125    899126  A39HTATAQ9V7YF  B002OVV7F0     3.0  1369699200
969482    969483  A39HTATAQ9V7YF  B0031IH5FQ     5.0  1369699200
1499680  1499681  A39HTATAQ9V7YF  B006GQPZ8E     4.0  1369699200

- interactive database, database analytics

- come up with typical db usage scenarios, e.g.: pandas df write to mysql db vs. sending query to db

- if using second mode, can db provide the same methods as pandas?

- find 2 or 3 typical panda df programs, run in both modes, compare performance

In [25]:
t0 = perf_counter()

df.describe()

print(perf_counter() - t0)

0.11908199999970748

> https://towardsdatascience.com/pandas-vs-sql-compared-with-examples-3f14db65c06f

describe from pandas   
vs   
DESC from MySQL

should be instantaneous?

In [31]:
t0 = perf_counter()

df[['UserId', 'ProductId']]

print(perf_counter() - t0)

0.08594480000010662

In [30]:
t0 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df_partial1 = pd.read_sql('SELECT UserId, ProductId FROM titles', con=db_connection)

print(perf_counter() - t0)

df_partial1

13.992468800000097

                 UserId   ProductId
0        A39HTATAQ9V7YF  0205616461
1        A3JM6GV9MNOF9X  0558925278
2        A1Z513UWSAAO0F  0558925278
3        A1WMRR494NWEWV  0733001998
4        A3IAAVS479H7M7  0737104473
...                 ...         ...
2023065  A3DEHKPFANB8VA  B00LORWRJA
2023066  A3DEHKPFANB8VA  B00LOS7MEE
2023067   AG9TJLJUN5OM3  B00LP2YB8E
2023068   AYBIB14QOI9PC  B00LPVG6V0
2023069  A1PB6OT0OOPKNQ  B00LU0LTOU

[2023070 rows x 2 columns]

In [35]:
t0 = perf_counter()

df['UserId'].unique()

print(perf_counter() - t0)

0.4505693999999494

In [36]:
t0 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df_partial1 = pd.read_sql('SELECT DISTINCT UserId FROM titles', con=db_connection)

print(perf_counter() - t0)

df_partial1

8.70217730000013

                 UserId
0        A39HTATAQ9V7YF
1        A3JM6GV9MNOF9X
2        A1Z513UWSAAO0F
3        A1WMRR494NWEWV
4        A3IAAVS479H7M7
...                 ...
1210266   ADQ41IJPQW2TN
1210267  A1SJD7QDROVPCC
1210268   AFPRQT3V8C1U1
1210269  A1RYQPQ01T5D5R
1210270  A3MQDRRGC9070R

[1210271 rows x 1 columns]

In [37]:
t0 = perf_counter()

df[['ProductId', 'Rating']].groupby('ProductId').mean().sort_values(by='Rating', ascending=False)

print(perf_counter() - t0)

0.42742490000000544

In [38]:
t0 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df_partial1 = pd.read_sql('SELECT ProductId, AVG(Rating) AS \'average_rating\' FROM titles GROUP BY ProductId ORDER BY Rating', con=db_connection)

print(perf_counter() - t0)

df_partial1

4.005609800000457

         ProductId  average_rating
0       B00JO3H5WA          3.6667
1       B00JO98YOC          1.0000
2       B00JP4QBXC          1.0000
3       B00JPLMD00          1.0000
4       B00JQJNBDE          1.0000
...            ...             ...
249269  B00A5Y4VHO          5.0000
249270  B00A5YB51E          5.0000
249271  B00A5YDBWK          4.5000
249272  B00A5YT47Q          5.0000
249273  B00A5ZECUE          5.0000

[249274 rows x 2 columns]