In [ ]:
# ref: https://www.sqlshack.com/exploring-databases-in-python-using-pandas/

In [2]:
# pip install mysql-connector-python
import mysql.connector
import csv
from time import perf_counter

from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [3]:
# drop table
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)
mycursor = mydb.cursor()
cmd = '''DROP TABLE IF EXISTS titles;'''
mycursor.execute(cmd)
mydb.commit()

In [4]:
# create table
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)
mycursor = mydb.cursor()
cmd = '''CREATE TABLE IF NOT EXISTS titles
(db_id INT AUTO_INCREMENT PRIMARY KEY,
UserId VARCHAR(100) NOT NULL,
ProductId VARCHAR(100),
Rating DEC,
Timestamp INT
);''' # https://dev.mysql.com/doc/refman/8.0/en/numeric-types.html
mycursor.execute(cmd)
mydb.commit()

In [5]:
jobs = []

t0 = perf_counter()

with open('ratings_Beauty.csv', encoding="utf8") as titles:
    reader = csv.reader(titles, delimiter=',')
    for row in reader:
        jobs.append([row[0], row[1], row[2], row[3]])
        
t1 = perf_counter()

jobs = jobs[1:]  # remove csv headers

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="ThXi4QpCd3zwBeILk4Uu",
    database="1m_schema",
    auth_plugin='mysql_native_password'
)

t2 = perf_counter()

mycursor = mydb.cursor()
insert_into = "INSERT INTO titles (UserId,ProductId,Rating,Timestamp) VALUES (%s, %s, %s, %s)"

vals = []
periodically_commit_interval = 50000  # prevent connection timeout
length = len(jobs)

print('job length =', length)
for i in range(length):
    if (i % periodically_commit_interval) == 0:
        print(int(i/length*100), '%')
        mycursor.executemany(insert_into, vals)
        mydb.commit()
        vals = []
    vals.append((jobs[i][0], jobs[i][1], jobs[i][2], jobs[i][3]))


mycursor.executemany(insert_into, vals)
mydb.commit()

t3 = perf_counter()

c2p = t1-t0
p2m = t3-t2

c2p_rate = length/c2p
p2m_rate = length/p2m

print('csv -> python list =', c2p, 'seconds;', c2p_rate, 'rows/second')
print('python list -> MySQL =', p2m, 'seconds;', p2m_rate, 'rows/second')

job length = 2023070
0 %
2 %
4 %
7 %
9 %
12 %
14 %
17 %
19 %
22 %
24 %
27 %
29 %
32 %
34 %
37 %
39 %
42 %
44 %
46 %
49 %
51 %
54 %
56 %
59 %
61 %
64 %
66 %
69 %
71 %
74 %
76 %
79 %
81 %
84 %
86 %
88 %
91 %
93 %
96 %
98 %
csv -> python list = 3.3328751 seconds; 607004.4449010405 rows/second
python list -> MySQL = 44.81817289999999 seconds; 45139.50188272847 rows/second

In [6]:
t4 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM titles', con=db_connection)

t5 = perf_counter()

m2p = t5-t4
m2p_rate = length/m2p
print('MySQL -> python pandas dataframe =', m2p, 'seconds;', m2p_rate, 'rows/second')

MySQL -> python pandas dataframe = 23.2967274 seconds; 86839.23562585875 rows/second

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   db_id      int64
 1   UserId     object
 2   ProductId  object
 3   Rating     float64
 4   Timestamp  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 77.2+ MB

In [8]:
t4 = perf_counter()

db_connection_str = 'mysql+pymysql://root:ThXi4QpCd3zwBeILk4Uu@127.0.0.1/1m_schema'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM titles WHERE UserId = \'A39HTATAQ9V7YF\'', con=db_connection)  # WHERE condition

t5 = perf_counter()

m2p = t5-t4
m2p_rate = length/m2p
print(m2p, 'seconds')

0.8690598999999963 seconds